@font-face {
  font-family: "Gochi Hand";
  src: url("fonts/GochiHand-Regular.woff2") format("woff2");
}

.tickets_management {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 5% 30px;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.actions > h1 {
  font-family: "Gochi Hand";
  font-size: 45px;
  text-transform: uppercase;
}

.actions > .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.actions > .buttons > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: inherit;
  padding: 13px 25px;
  border: none;
}

.actions > .buttons > select {
  padding: 10px;
  font-family: inherit;
  outline: none;
  border: 1px solid #333;
}

.tickets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
